p.MsoPlainText {
}

/* notjohn */
p {
margin-top:0.0em;
margin-bottom:0.0em;
text-indent:1.0em;
text-align:justify;
}

p.first {
margin-top:0.5em;
margin-bottom: 0.0em;
text-indent:0.0em;
text-align:justify;
}

p.left {
margin-top:0.5em;
margin-bottom: 0.0em;
text-indent:0.0em;
text-align:left;
}

p.center {
margin-top:0.0em;
margin-bottom:0.25em;
text-indent:0.0em;
text-align:center;
}

h1 {
margin-top:1em;
font-size: 150%;
text-indent: 0em;
font-style: italic;
text-align:center;
}

h2 {
margin-top:1em;
font-size: 150%;
text-indent: 0em;
font-style: italic;
text-align:center;
}

h3 {
margin-top:1em;
font-size: 125%;
text-indent: 0em;
text-align:center;
}

h4 {
margin-top:1em;
font-size: 125%;
text-indent: 0em;
text-align:left;
}

p.plain {
font-size: 100%;
/* fixed margin-top:1.0em;
margin-bottom:1.0em; */
/*text-indent: 0em;*/
}

p.large {
margin-top:1em;
margin-bottom:1em;
font-size: 150%;
font-style: italic;
text-indent: 0em;
}

p.medium {
margin-top:1em;
margin-bottom:1em;
font-size: 90%;
font-style: italic;
text-indent: 0em;
}

p.small {
margin-bottom:1em;
font-size: 80%;
text-indent: 0em;
}

p.smaller {
margin-bottom:1em;
font-size: 70%;
text-indent: 0em;
}

p.largeheader {
font-weight: bold;
margin-top:1em;
margin-bottom:1em;
font-size: 200%;
font-style: italic;
text-indent: 0em;
text-align:center;
}

p.mediumheader {
font-weight: bold;
font-size: 150%;
font-style: italic;
margin-top:1.0em;
margin-bottom:1.0em;
text-indent: 0em;
text-align:center;
}

p.smallheader {
font-weight: bold;
margin-bottom:1em;
font-size: 110%;
text-indent: 0em;
text-align:center;
}

p.block {
font-family: courier, monospace;
text-indent: 1em;
text-align:left;
margin:0em 0em 0em 1em;
}

p.blockfirst {
font-family: courier, monospace;
text-indent: 1em;
text-align:left;
margin:0.5em 0em 0em 1em;
}

p.blocklast {
font-family: courier, monospace;
text-indent: 1em;
text-align:left;
margin:0.5em 0em 1em 1em;
}

p.blockcenter {
font-family: courier, monospace;
text-align:center;
margin:0.5em 0em 0em 1em;
}

p.red {
color:red
}

span.smallcap {
font-size: 90%;
font-weight: bold;
}

div.image {
text-align:center;
margin-bottom: 0.25em;
}

div.icon {
text-align:center;
margin-bottom: 1em;
}

div.caption {
margin-bottom: 1em;
text-align:center;
font-style:italic;
}

/* myk */
span.dropcaps{
  font-size: 110%;
  font-weight: bold;
}

.center {
 text-align: center;
}